body { background: #f534c6; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 45px; display: flex; }
.block-logger-0 { color: #2d1b3f; font-size: 15px; margin-bottom: 5px; }
.block-helper-1 { color: #6ced66; font-size: 14px; margin-bottom: 5px; }
.block-sms-2 { color: #a1e25f; font-size: 16px; margin-bottom: 5px; }
.block-session-3 { color: #a4f524; font-size: 20px; margin-bottom: 5px; }
.block-session-4 { color: #1652d8; font-size: 13px; margin-bottom: 5px; }